<ehcache>
	<diskStore path="java.io.tmpdir/thumby.cache" />
	<defaultCache maxBytesLocalHeap="512M" eternal="false"
		timeToIdleSeconds="90000" timeToLiveSeconds="0" maxBytesLocalDisk="10G"
		diskExpiryThreadIntervalSeconds="120" memoryStoreEvictionPolicy="LFU">
		<persistence strategy="localTempSwap" />
	</defaultCache>
</ehcache>